{% extends 'dashboard_base.html' %}

{% block title %} {{page_title}}{% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}




<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title" style="color: rgb(4, 149, 16);">Hello! {{user.profile.role|capfirst}} {{ user.username }} </h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li style="color: blue;">{{page_title}}</li>
            </ul>
        </div>	

        <!--Check if User is login and is also a staff and a superuser-->
        {% if user.is_authenticated and user.is_staff and user.is_superuser %}
        
        <!-- Card -->
        {% include 'partials/_cards.html' %}
        <!-- Card END -->

        {% include 'partials/_user_list.html' %}
        

        {% else %}
        <div class="container">
            <div class="row">
                {% include 'partials/_alerts.html' %}
               

                <!--Customer List-->
                <div class="col-lg-12 m-b30">
                    <div class="table-responsive mb-8">
                        {% if customers %}
                          <table class="table bg-white">
                              <thead class="bg-info text-white">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col" style="color: white;">Acct. Name</th>
                                
                                  <th scope="col" style="color: white;" nowrap>Phone</th>

                                  <th scope="col" style="color: white;" nowrap>Acct No.</th>

                                  <th scope="col" style="color: white;" nowrap>Address</th>

                                  <th scope="col" style="color: white;" nowrap>Added By</th>

                                  <th scope="col" style="color: white;" nowrap>Created Date</th>
                                  
                                  <th scope="col" style="color: white;">Bal.</th>
                                  
                                  <th scope="col" style="color: white;">Action</th>
                                 
                                </tr>
                              </thead>
                              <tbody>
                                
              
                                {% for customer in customers %}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>

                                  <td wrap>{{ customer.customer.profile.full_name }}</td>
                                 
                                  <td>{{ customer.customer.profile.phone }}</td>

                                  <td>#{{ customer.account_number}}</td>

                                  <td wrap>{{ customer.customer.profile.address }}</td>

                                  <td>{{ customer.added_by }}</td>

                                  <td wrap>{{ customer.created_date|naturaltime }}</td>

                                  <td>N{{ customer.account_balance|intcomma }}</td>
                                  
                                  <td>
                                      
                                    <div class="button-container">
                                     <a class="btn btn-info deposit-button" href="">Deposit</a>

                                      <a class="btn btn-info withdrawal-button" href="">Withdrawal</a>
                                    </div>
                                      
                                  </td>
                                </tr>
                                {% endfor %}    
                                <tr><td nowrap></td></tr>    
                                
                              </tbody>
                          </table>
                            
                        {% else %}  
                             <span style="text-align: center; color:red;">No Customer Yet</span>    
                        {% endif %}
                          </div>
                      </div>
                </div>

            </div>
            <!--Pagination-->
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-box">
                        <ul class="pagination">
                            {% if customers.has_previous %}
                                <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                <li><a href="?page={{ customers.previous_page_number }}">{{ customers.previous_page_number }}</a></li>
                            {% endif %}
                            
                            <li class="active"><a href="?page={{ customers.number }}">{{ customers.number }}</a></li>
                            
                            {% if customers.has_next %}
                                <li><a href="?page={{ customers.next_page_number }}">{{ customers.next_page_number }}</a></li>
                                <li><a href="?page={{ customers.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        
        {% endif %}

        
    </div>
</main>

{% endblock %}