{% extends 'dashboard_base.html' %}

{% block title %} {{page_title}} {% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}




<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title" style="color: rgb(4, 149, 16);">Hello! {{user.profile.role|capfirst}} {{ user.username }} </h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li style="color: blue;">{{page_title}}</li>
            </ul>
        </div>	

        <!--Check if User is login and is also a staff and a superuser-->
        {% if user.is_authenticated and user.profile.role == 'admin' or user.is_superuser %}
        
        <!-- Card -->
        {% include 'partials/_admin_cards.html' %} 
        <!-- Card END -->

        {% elif user.is_authenticated and user.profile.role == 'manager' or user.profile.role == 'cashier' %}

        <div class="container">
            <div class="row">
                {% include 'partials/_alerts.html' %}
               

                <!--Customer List-->
                <div class="col-lg-12 m-b30">
                    <div class="table-responsive mb-8">
                        {% if deposit_withdrawals %}
                          <table class="table bg-white">
                              <thead class="bg-info text-white">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col" style="color: white;">Acct. Name</th>
                                
                                  <th scope="col" style="color: white;" nowrap>Phone</th>

                                  <th scope="col" style="color: white;" nowrap>Acct No.</th>

                                  <th scope="col" style="color: white;" nowrap> 
                                    {% if page_title == 'Deposit List' %}
                                    Deposited 
                                    {% else %}
                                    withdrawn 
                                    {% endif %}
                                    
                                    Amt. </th>

                                  <th scope="col" style="color: white;" nowrap>

                                    {% if page_title == 'Deposit List' %}
                                    Deposited 
                                    {% else %}
                                    withdrawn 
                                    {% endif %}
                                    
                                    Date</th>

                                  <th scope="col" style="color: white;">Transaction ID</th>

                                  <th scope="col" style="color: white;" nowrap>Acct. Bal.</th>

                                  <th scope="col" style="color: white;" nowrap>Type</th>

                                  <th scope="col" style="color: white;" nowrap>Added By</th>
                                  
                                  <th scope="col" style="color: white;">Remark</th>
                                 
                                </tr>
                              </thead>
                              <tbody>
                                
              
                                {% for deposit_withdrawal in deposit_withdrawals %}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>

                                  <td nowrap>{{ deposit_withdrawal.customer.customer.profile.full_name }}</td>
                                 
                                  <td>{{ deposit_withdrawal.customer.customer.profile.phone }}</td>

                                  <td>#{{ deposit_withdrawal.customer.account_number}}</td>

                                  <td>N{{ deposit_withdrawal.amount|intcomma }}</td>

                                  <td>{{ deposit_withdrawal.transaction_date|naturaltime }}</td>

                                  <td nowrap>{{ deposit_withdrawal.transaction_ref }}</td>

                                  <td nowrap>N{{ deposit_withdrawal.customer.account_balance|intcomma }}</td>

                                  <td nowrap>{{deposit_withdrawal.transaction_type}}</td> 

                                  <td nowrap>{{deposit_withdrawal.added_by}}</td> 
                                  
                                  <td>
                                      
                                    <div class="button-container">
                                     <a class="btn btn-info deposit-button" href="">
                                      {% if deposit_withdrawal.transaction_remark  %}
                                      {{deposit_withdrawal.transaction_remark}}
                                      {% else %}
                                      No Remark
                                      {% endif %}
                                    </a>

                                      
                                    </div>
                                      
                                  </td>
                                </tr>
                                {% endfor %}    
                                <tr><td nowrap></td></tr>    
                                
                              </tbody>
                          </table>
                            
                        {% else %}  
                             <span style="text-align: center; color:red;">No Customer Yet</span>    
                        {% endif %}
                          </div>
                      </div>
                </div>

            </div>
            <!--Pagination-->
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-box">
                        <ul class="pagination">
                            {% if deposit_withdrawal.has_previous %}
                                <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                                <li><a href="?page={{ deposit_withdrawal.previous_page_number }}">{{ deposit_withdrawal.previous_page_number }}</a></li>
                            {% endif %}
                            
                            <li class="active"><a href="?page={{ deposit_withdrawal.number }}">{{ deposit_withdrawal.number }}</a></li>
                            
                            {% if deposit_withdrawal.has_next %}
                                <li><a href="?page={{ deposit_withdrawal.next_page_number }}">{{ deposit_withdrawal.next_page_number }}</a></li>
                                <li><a href="?page={{ deposit_withdrawal.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        

        
      
        
        {% endif %}

        
    </div>
</main>

{% endblock %}