{% extends 'dashboard_base.html' %}

{% block title %} {{page_title}} {% endblock %}

{% load static %}

{% load crispy_forms_tags %}

{% load humanize %}

{% block content %}




<!-- Left sidebar menu start -->
{% include 'partials/_LeftSideBar.html' %}
<!-- Left sidebar menu end -->

<main class="ttr-wrapper">
    <div class="container-fluid">
        <div class="db-breadcrumb">
            <h4 class="breadcrumb-title" style="color: rgb(4, 149, 16);">Hello! {{user.profile.role|capfirst}} {{ user.username }} </h4>
            <ul class="db-breadcrumb-list">
                <li><a href="#"><i class="fa fa-home"></i>Home</a></li>
                <li style="color: blue;">{{page_title}}</li>
                {% if transactions %}
                <li><span style="color: red; font-size:1rem; font-family:sans-serif;">Total Amount: N{{total_amount|intcomma}} </span></li>
                <li><a class="btn btn-success" style="display: block; color:white;"> {{transaction_count}} Transactions</a></li>
                {% endif %}
            </ul>
        </div>	

        <!--Check if User is login and is also a staff and a superuser-->
        
        
        
        <!--Search Transaction Container Start-->
        {% if not transactions %}
        <div class="container">
            <div class="row my-4">

              <div class="col-md-12">
                <div class="border bg-white p-3">
                   
                    <h4 class="text-center">Search Transaction</h4>
                    <hr>
                    <form method="POST">
                      {% csrf_token %}
    
                      {{ form | crispy }}

                     
                      <!--Check Page Title and Allocate Submit Value-->
                      
                      <input class="btn btn-info btn-block" type="submit"  value="Search Transaction">
                   
                      
    
                    </form>
                </div>
              </div>

            </div>
        </div>
        {% endif %}
          <!--Search Transaction Container End-->

          <!--List Transaction Container Start-->
        <div class="container">
            <div class="row">
                {% include 'partials/_alerts.html' %}
               

                <!--Customer List-->
                <div class="col-lg-12 m-b30">
                    <div class="table-responsive mb-8">
                      {% if transactions %}
                          <table class="table bg-white">
                              <thead class="bg-info text-white">
                                <tr>
                                  <th scope="col">#</th>
                                  <th scope="col" style="color: white;" nowrap>Acct. Name</th>
                                
                                  <th scope="col" style="color: white;" nowrap>Phone</th>

                                  <th scope="col" style="color: white;" nowrap>Acct No.</th>
                                  
                                  <th scope="col" style="color: white;" nowrap>Transaction ID</th>

                                  <th scope="col" style="color: white;" nowrap>Added By</th>

                                  <th scope="col" style="color: white;" nowrap>Added Date</th>

                                  
                                  <th scope="col" style="color: white;" >Amount.</th>
                                 
                                  
                                  <th scope="col" style="color: white;" nowrap>Type</th>

                                  
                                 
                                </tr>
                              </thead>
                              <tbody> 
<!--###########################################################################################################################-->
                                <!--Transaction List Starts Here-->
                               

                                {% for transaction in transactions %}
                                <tr>
                                  <th scope="row">{{ forloop.counter }}</th>

                                  <td nowrap>{{ transaction.customer.customer.profile.full_name }}</td>
                                 
                                  <td nowrap>{{ transaction.customer.customer.profile.phone }}</td>

                                  <td>#{{ transaction.customer.account_number}}</td>

                                  <td nowrap>{{ transaction.transaction_ref}}</td>

                                  <td>{{ transaction.added_by }}</td>

                                  <td nowrap>{{ transaction.transaction_date|naturaltime }}</td>

                                  <td style="color: red;">N{{ transaction.amount|intcomma }}</td>
                                  
                                  
                                  <td>
                                      
                                    <div class="button-container">
                                     <!--Check for Transaction Types and Display Accordingly-->
                                        {% if transaction.transaction_type == 'deposit' %}
                                      <a class="btn btn-info deposit-button" href="">
                                        {{ transaction.transaction_type|capfirst}}
                                      </a>
                                      {% elif transaction.transaction_type == 'withdraw' %}
                                      <a class="btn btn-red withdrawal-button" href="">
                                        {{ transaction.transaction_type|capfirst}}
                                      </a>
                                      {% elif transaction.transaction_type == 'service_charge' %}
                                      <a class="btn btn-success withdrawal-button" href="">
                                        {{ transaction.transaction_type|capfirst}}
                                      </a>
                                      {% endif %}
                                    </div>
                                      
                                  </td>
                                  
                                </tr>
                                {% endfor %} 

                                
                                <!--TRANSACTION LIST END HERE-->
<!--##############################################################################################################-->
                                
                                
                                
                              </tbody>
                          </table>
                          {% else %}

                          <span style="text-align:center; color:red; font-size:1rem;">No Transaction Found</span>

                          {% endif %}
                            
                       
                          </div>
                      </div>
                </div>

            </div>
            <!--Pagination-->
            {% if transactions %}
            <div class="row">
                <div class="col-md-12">
                    <div class="pagination-box">

                        

                        <ul class="pagination">
                          {% if transactions.has_previous %}
                              <li><a href="?page=1"><i class="fa fa-angle-double-left"></i></a></li>
                              <li><a href="?page={{ transactions.previous_page_number }}">{{ transactions.previous_page_number }}</a></li>
                          {% endif %}
                          
                          <li class="active"><a href="?page={{ transactions.number }}">{{ transactions.number }}</a></li>
                          
                          {% if transactions.has_next %}
                              <li><a href="?page={{ transactions.next_page_number }}">{{ transactions.next_page_number }}</a></li>
                              <li><a href="?page={{ transactions.paginator.num_pages }}"><i class="fa fa-angle-double-right"></i></a></li>
                          {% endif %}
                      </ul>
                      

                     
 

                      
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
        
        

        
    </div>
</main>

{% endblock %}