/***** TEXT SIZE ADJUST *****/
html {
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%;
}

/***** BOX MODEL *****/
* {  
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

.small-anchor{
    font-size: 0.9rem;
}

.button-container{
    display: flex;
    align-items: center;
}

.button-container a{
    margin-right: 10px;
    padding: 5px 5px;
    font-size: 1rem;
    color: white;
    font-family: sans-serif;
}

.deposit-button{
    background-color: rgb(5, 193, 5);
}

.withdrawal-button{
    background-color: rgb(189, 87, 18);
}

.transaction-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.transaction-search-container input[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }





@media screen and (max-width: 600px) {
    .transaction-search-container {
        flex-direction: column;
    }
}